@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url(../background.jpg);
    background-size: cover;
    backdrop-filter: blur(20px);
}

.container .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header .logo{
    padding-left: 14px;
}



.header  .logo div img{
    width: 100%;
    height: 100%;
}
.header .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header  .logo div{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
}
.header .logo span{
    color: black;
    font-size: 33px;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 5px;
}

.header .login{
    color: #E33E57;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #E33E57;
    border-radius: 15px;
    padding: 9px 22px;
    margin-right: 8px;
    transition: .4s;
}
.header .login:hover{
    color: white;
    background-color: #E33E57;
    border: 2px solid white;
    box-shadow: 0 0 7px 4px #E33E57;
}


.navbar{
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
    justify-content: space-around;
}
.navbar ul li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: .4s;
}

.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style-type: none;
    margin: 0 15px ;
}
section .nav-icons{
    display: flex;
    align-items: center;
}


section .nav-icons i{
    color: black;
    margin: 0 5px;
    font-size: 19px;
    transition: 0.3s;
}
section .nav-icons i:hover{
    color: #E33E57;
    cursor: pointer;
}

.container .navbar ul li a:hover{
    transition: .3s;
    color: #E33E57;
    font-size: 17px;
}
.container .navbar ul li a:hover:after{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.category{
    margin-bottom: 200px;
}
.category h1{
    margin-left: 20px;
    margin-bottom: 40px;
}
.category .cat-games{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.category .cat-games a div{
    width: 200px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: .4s;
}
.category .cat-games a div:hover{
    border: 2px solid #E33E57;
    scale: 1.1;
    box-shadow: 0 0 11px 6px rgba(227, 62, 87, 0.3);
}
.category .cat-games a{
    color: white;
    text-decoration: none;
}
.category .cat-games a div p{
    text-align: center;
    background-color: #05060763;
    opacity: 0;
    transition: 0.4s;
}
.category .cat-games a div:hover p{
    opacity: 1;
}

.category .cat-games a .elden-ring{
    background-image: url(../New-Releases/elden-ring/eldenring.png);
}
.category .cat-games a .zelda{
    background-image: url(../top-this-weeknd/the-legend-o-zelda/zelda.jfif);
}
.category .cat-games a .sekiro{
    background-image: url(../New-Releases/sekiro/sekiro.jfif);
}
.category .cat-games a .thelast{
    background-image: url(../New-Releases/thelast-of-us/thelast-of-us.jfif);
}
.category .cat-games a .fallout-76{
    background-image: url(fallout-76/fallout-76.webp);
    background-position: right;
}
.category .cat-games a .hogwarts{
    background-image: url(../top-this-weeknd/hogwarts-legacy/hogwarts.jfif);
}
.category .cat-games a .dark-souls{
    background-image: url(../action/dark-souls/dark-souls.jpg);
}


.category .cat-games a .rdr{
    background-image: url(rdr/rdr.jpg);
}
.category .cat-games a .the-witcher{
    background-image: url(the-witcher/the-witcher.jfif);
}
.category .cat-games a .lies{
    background-image: url(../action/lies/lies.jpg);
}

.category .cat-games a .gtav{
    background-image: url(gtav/gta-5.webp);
    
}
.category .cat-games a .skyrim{
    background-image: url(skyrim/skyrim.jfif);
}
.category .cat-games a .minecraft{
    background-image: url(Minecraft/Minecraft.webp);
}

.category .cat-games a .death-stranding{
    background-image: url(death-stranding/death-stranding.jfif);
}
.category .cat-games a .battlefield{
    background-image: url(battlefield/battlefield.webp);

}
.category .cat-games a .cod-mw{
    background-image: url(../preorders/cod-mw2/cod-mw.jpg);

}
.category .cat-games a .genshin{
    background-image: url(genshin-impact/genshin.jpg);

}
.category .cat-games a .apex{
    background-image: url(apex-legend/apex.png);

}








footer{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px;
}
footer .consoles, footer .quick-links{
    display: flex;
    flex-direction: column;
}

footer div{
    width: 300px;
    
    
}

footer div h3{
    font-size: 15px;
    margin-bottom: 10px;
}

footer div p, footer div a{
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 8px;
    
}

footer div p{
    width: 240px;
    padding-left: 10px;
}

footer div a{
    width: fit-content;
    color: #24262C;
}
footer div a i{
    color: #E33E57;
    font-size: 15px;
}